In [ ]:
import pandas as pd

In [1]:
from google.colab import files
data_to_load = files.upload()

Saving Places.csv to Places.csv

In [2]:
import io
df = pd.read_csv(io.BytesIO(data_to_load['Places.csv']))

NameError: ignored

In [ ]:
#1
df.head(15)
print(df)
# rows
print("Number of Rows: ", len(df.axes[0]))
# columns
print("Number of Columns: ", len(df.axes[1]))

   Destination  Feedback_score  ...  All-inclusive_hotels  Most_visited_city
0        Italy              10  ...                   125               Rome
1       France               9  ...                   125              Paris
2        Spain               9  ...                   115          Barcelona
3           UK               7  ...                    98             London
4    Lithuania               8  ...                    25            Vilnius
5       Greece               9  ...                   110             Athens
6       Sweden               8  ...                    69          Stockholm
7           US               7  ...                   168           New York
8       Canada               8  ...                   108            Toronto
9      Belgium               7  ...                    52           Brussels
10      Turkey               9  ...                   140           Istanbul
11      Norway               8  ...                    41               Oslo
12    Portugal               9  ...                    78             Lisbon
13     Croatia               7  ...                   101             Zagreb
14     Finland               8  ...                    47           Helsinki

[15 rows x 5 columns]
Number of Rows:  15
Number of Columns:  5

In [ ]:
print(df.iloc[3:9])

  Destination  Feedback_score  ...  All-inclusive_hotels  Most_visited_city
3          UK               7  ...                    98             London
4   Lithuania               8  ...                    25            Vilnius
5      Greece               9  ...                   110             Athens
6      Sweden               8  ...                    69          Stockholm
7          US               7  ...                   168           New York
8      Canada               8  ...                   108            Toronto

[6 rows x 5 columns]

In [ ]:
print(df["All-inclusive_hotels"].mean())

93.46666666666667

In [ ]:
df.sort_values('Feedback_score', ascending=True)

   Destination  Feedback_score  ...  All-inclusive_hotels  Most_visited_city
3           UK               7  ...                    98             London
7           US               7  ...                   168           New York
9      Belgium               7  ...                    52           Brussels
13     Croatia               7  ...                   101             Zagreb
4    Lithuania               8  ...                    25            Vilnius
6       Sweden               8  ...                    69          Stockholm
8       Canada               8  ...                   108            Toronto
11      Norway               8  ...                    41               Oslo
14     Finland               8  ...                    47           Helsinki
1       France               9  ...                   125              Paris
2        Spain               9  ...                   115          Barcelona
5       Greece               9  ...                   110             Athens
10      Turkey               9  ...                   140           Istanbul
12    Portugal               9  ...                    78             Lisbon
0        Italy              10  ...                   125               Rome

[15 rows x 5 columns]

In [3]:
df.sort_values('Feedback_score', ascending=False)

NameError: ignored