In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving Places.csv to Places (1).csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(data_to_load['Places.csv']))

In [ ]:
df.head(15)

   Destination  Feedback_score  ...  All-inclusive_hotels  Most_visited_city
0        Italy              10  ...                    20               Rome
1       France               9  ...                    21              Paris
2        Spain               9  ...                    14          Barcelona
3           UK               7  ...                    10             London
4    Lithuania               8  ...                     2            Vilnius
5       Greece               9  ...                    25             Athens
6       Sweden               8  ...                     7          Stockholm
7           US               7  ...                    23           New York
8       Canada               8  ...                     9            Toronto
9      Belgium               7  ...                     6           Brussels
10      Turkey               9  ...                    28           Istanbul
11      Norway               8  ...                     6               Oslo
12    Portugal               9  ...                    12             Lisbon
13     Croatia               7  ...                     7             Zagreb
14     Finland               8  ...                     2           Helsinki

[15 rows x 5 columns]

In [ ]:

print (df[df['All-inclusive_hotels'] > 9])

   Destination  Feedback_score  ...  All-inclusive_hotels  Most_visited_city
0        Italy              10  ...                    20               Rome
1       France               9  ...                    21              Paris
2        Spain               9  ...                    14          Barcelona
3           UK               7  ...                    10             London
5       Greece               9  ...                    25             Athens
7           US               7  ...                    23           New York
10      Turkey               9  ...                    28           Istanbul
12    Portugal               9  ...                    12             Lisbon

[8 rows x 5 columns]

In [ ]:
print (df[df['Feedback_score'] > 8])

   Destination  Feedback_score  ...  All-inclusive_hotels  Most_visited_city
0        Italy              10  ...                    20               Rome
1       France               9  ...                    21              Paris
2        Spain               9  ...                    14          Barcelona
5       Greece               9  ...                    25             Athens
10      Turkey               9  ...                    28           Istanbul
12    Portugal               9  ...                    12             Lisbon

[6 rows x 5 columns]

In [ ]:
print (df[df['Feedback_score'] < 2])

Empty DataFrame
Columns: [Destination, Feedback_score, Average_rating, All-inclusive_hotels, Most_visited_city]
Index: []

In [ ]:
import matplotlib.pyplot as plt